<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="KitapUrl"
		value="https://www.idefix.com/_next/data/oYpY7pl-GjFh5cCJJG8dt/edebiyat-c-3307772933.json?isSalable=true&amp;slug=edebiyat-c-3307772933&amp;siralama=desc_added&amp;sayfa="/>
		<add key=""/>
	</appSettings>
</configuration>